*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --amarelo-main: #f5da17;
    --amarelo-hover: #FFC300;
    --laranja-bord: #c26c2f;
    --card-border: #0B132412;
    --preto-text: #303030;
    --preto-true: #000000;
    --branco: #FAFAFAFA;
    --branco-true: #FFFFFF;
    
}


.header-background{             /* Background do "header" - Gradient preto */
    background-image: linear-gradient(to right, #4A4A4A, var(--preto-true));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    z-index: -2;

    width: 100vw;
    height: 400px;
    position: absolute;
}

.header-content{
    padding: 10.6rem 0rem 2% 6.25rem;
    color: var(--branco);
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    width: 100%;

    h1{
        width: 70%; 
        font-size: 1.5em;
        margin-bottom: 0;
        padding-right: 4em;
        line-height: 1.1em;
        padding-bottom: 70px;
        
    }
    
}

/* Fim do Header */

/* Inicio Sobre nós */

.about-us-inner {
    display: flex;
    width: 100%;
}
.about-us-inner-2{
    display: flex;
    flex-direction: column;
}
.about-us-biography{
    flex:2;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
    color: var(--preto-text);
    margin-bottom: 150px;
    h1{
        font-size: 30px;
    }
    p{
    font-size: 18px;
    }
    li{
        list-style: none;
    }

}
.psychologic-img {
    flex: 1;
    margin-left: 3em;
    margin-right: 8vw;
    max-width: 100%;
    padding-top: 15vh;
}

.psychologic-img img {
    width: 100%;
    max-width: 380px; /* Ajustar o tamanho da imagem */
    height: auto; /* Manter a proporção da imagem */
}

.about-us-content{
    
        display: flex;
        flex-direction: column;
        color: var(--preto-text);
        padding-left: 2vw;
        margin-bottom: 15   0px;
        h1{
            text-align: left;
            font-size: 30px;
            margin-bottom: 10px;
    
        }
        p{
            text-align: left;
            width: 60%;
            font-size: 18px;
            margin-bottom: 50px;
        }
    }   


.curiosity-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
    color: var(--branco-true);
    margin-bottom: 8em ;
}
.curiosity-img {
    position: absolute;
    background-image: url(assets/curiosity-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: -2;
    width: 100vw;
    height: 450px;
}
.curiosity-back{
    position: absolute;
    z-index: -1;
    background-color: #30303092;
    width: 100vw;
    height: 450px;
}
.curiosity-content {
    position: relative;
    z-index: 1;
    text-align: center;
}
.curiosity-title {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}
.curiosity-description{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.curiosity-description p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
}

.contact-button{
    width: 18rem;

    padding: 1rem 0.5rem;

    font-size: 1.2rem;
    font-weight: 600;

    background-color: var(--amarelo-main);
    color: var(--preto-text);
 
    border-radius: 10px;
    border: none;

    cursor: pointer;
    transition: all 0.7s;
}
.contact-button:hover{
    background-color: var(--amarelo-hover);
}

/*Fim da section curiosity*/


.img-lamp-box{
    display: flex;
    position: absolute;
    width: 100vw;
    z-index: -1;
    justify-content: flex-end;
    margin-top: -80px;
}


.intro-button{
    max-width: 30vw;
    max-height: 10vh;
    padding: 0.75rem 2rem;
    font-size: 1.2rem;
    background-color: var(--amarelo-main);
    color: var(--preto-text);
    font-weight: bold;
    border-radius: 8px;
    border: 0.8px solid var(--laranja-bord);
    cursor: pointer;
    transition: all 0.5s;  
    margin-left: 60vw;
}

.intro-button:hover{
    background-color: var(--amarelo-hover);
}

/* Início do Footer */
.footer {
    background: linear-gradient(to right, #4A4A4A, var(--preto-true));
    color: var(--branco-true);
    padding: 3rem 10rem;
}
.footer-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footer-left {   /* bloco da esquerda */
    width: 400px;
    text-align: left;
    h2{
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 3.25rem;
    }
}
.footer-right {
    display: flex;
    flex-direction: column;
    text-align: right;
}
.right-content{
    margin-bottom: 2rem;
    p{
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    a{
        font-size: 1.5rem;
        font-weight: 900;
        text-decoration: none;
        color: var(--amarelo-main);

    }
}
.footer-social {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    a{
        font-size: 3rem;
        color: var(--branco-true);
    }
}
.footer-copy{
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 100px;
}
/*Fim do Footer*/

/* Responsividade */


/*Dispositivos Móveis*/

@media only screen and (max-width: 767px) {

   .header-content{
    padding: 8rem 1rem;
    align-items: end;
    text-align: end;
    h1{
        width: 100%;
        padding-right: 0;
        font-size: 17px;
    }
   }
   .about-us-inner{
    flex-direction: column;
    align-items: center;
   }

   .psychologic-img {
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 200px;
    margin-bottom: 1rem;  /* Espaço entre a imagem e o texto */
}

.about-us-biography {
    width: 100%;
    padding-left: 3vw;
    h1{
        margin-bottom: 10px;
    }
    p{
    font-size: 18px;
    text-align: left;
}
}

.none-bar{
    display: none;
}
.curiosity-back, .curiosity-img{
    height: 600px;
}
.curiosity-title{
    flex-direction: column;
    gap: 10px;
    font-size: 1.8rem;
}
.curiosity-description p{
    font-size: 1.2rem;
    width: 80vw;
}

.img-lamp-box img{
    margin-top: 70vh;
    width: 20vw;
    
}
 .intro-button{
    padding: 12px 0px 12px 0px;
    margin: 0;
    max-width: 60vw;
    margin-left: 15vw;
 }
.about-us-inner-2{
    width: 150vw;
    padding: 1rem;
    h1{
        font-size: 24px;
    }
}

.footer{
    padding: 3rem 1rem;
    flex-direction: column;
}
.footer-content{
    flex-direction: column;
    gap: 2rem;
}
.footer-left{
    width: 100%;
    h2{
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
}
.footer-right{
    text-align: left;
}
.right-content{
    font-size: 1.2rem;
}
.footer-social{
    justify-content: start;
    a{
        font-size: 2.8rem;
    }
}
.footer-copy{
    text-align: center;
    font-size: 1rem;
}
/*Footer*/

}

/* Tablets */

@media only screen and  (min-width: 768px) and (max-width: 1024px) {

    .header-content{
     padding: 8rem 1rem;
     align-items: end;
     text-align: end;
     margin: 0;
     h1{
         padding-right: 0;
         font-size: 24px;
     }
    }
    .about-us-inner{
     flex-direction: column;
     align-items: center;
    }
 
    .psychologic-img {
     padding: 0;
     margin: 0;
     width: 100%;
     max-width: 300px;
     margin-bottom: 1rem;  /* Espaço entre a imagem e o texto */
 }
 
 .about-us-biography {
     width: 100%;
     padding-left: 3vw;
     h1{
        font-size: 40px;
         margin-bottom: 15px;
     }
     p{
     font-size: 25px;
     text-align: left;
 }
 }
 
 .curiosity-back, .curiosity-img{
     height: 600px;
 }
 .curiosity-title{
     flex-direction: column;
     gap: 10px;
     font-size: 1.8rem;
 }
 .curiosity-description p{
     font-size: 1.7rem;
     width: 80vw;
 }
 
 .img-lamp-box img{
     margin-top: 70vh;
     width: 20vw;
     
 }
  .intro-button{
     padding: 12px 0px 12px 0px;
     margin: 0;
     max-width: 60vw;
     margin-left: 15vw;
  }
 .about-us-inner-2{
     width: 150vw;
     padding: 1rem;
     h1{
         font-size: 40px;
     }
     p{
        font-size: 25px;
     }
 }
 
 .footer{
     padding: 3rem 1rem;
     flex-direction: column;
 }
 .footer-content{
     flex-direction: column;
     gap: 2rem;
 }
 .footer-left{
     width: 100%;
     h2{
         font-size: 1.5rem;
         margin-bottom: 1rem;
     }
 }
 .footer-right{
     text-align: left;
 }
 .right-content{
     font-size: 1.2rem;
 }
 .footer-social{
     justify-content: start;
     a{
         font-size: 2.8rem;
     }
 }
 .footer-copy{
     text-align: center;
     font-size: 1rem;
 }
 /*Footer*/
 
 }